[submodule "cmake/phake"]
	path = cmake/phake
	url = https://github.com/phiwen96/phake
[submodule "dependencies/ph_color"]
	path = dependencies/ph_color
	url = https://github.com/phiwen96/ph_color
[submodule "dependencies/ph_debug"]
	path = dependencies/ph_debug
	url = https://github.com/phiwen96/ph_debug
[submodule "dependencies/ph_concepts"]
	path = dependencies/ph_concepts
	url = https://github.com/phiwen96/ph_concepts
